.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact {
  width: 100%;
  display: flex;
  align-items: center;

  background-image: url(/img/beautiful_wine3.avif);
  background-repeat: no-repeat;
  background-position: center;
  padding: 250px 0;
}
.contact_form {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  height: 2.5rem;
}
textarea {
  height: 8rem;
}
input,
textarea {
  display: block;
  margin: 1rem;
  width: 18rem;
  border: 1px solid #80013f;
  border-radius: 4px;
}
.submit {
  background-color: #80013f;
  color: white;
  width: 100px;
  height: 40px;
  font-family: "Lobster", cursive;
  font-size: 20px;
  opacity: 0.7;
  margin-left: 8rem;
  cursor: pointer;
}
.submit:hover {
  opacity: 1;
  border: 1px solid black;
  color: white;
}
.talk {
  width: 50%;
}

.talk h1 {
  margin: 4rem 0;
  font-family: "Source Serif Pro", serif;
  font-size: 45px;
  text-align: center;
}
.talk p {
  font-size: 30px;
  font-family: "Lobster", cursive;
  text-align: center;
}
::placeholder {
  padding-left: 0.5rem;
  color: rgb(167, 129, 137);
  font-family: "Lobster", cursive;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .contact {
    flex-direction: column;
    padding: 90px 0;
  }
  .contact_form {
    height: 500px;
  }
  .talk {
    display: flex;
    flex-direction: column;
  }
  .talk h1,
  .talk p {
    font-size: 20px;
  }
  input,
  textarea {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.6;
    border: 1px solid rosybrown;
  }
  ::placeholder {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #80013f;
  }
  .submit {
    font-size: 15px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .contact {
    flex-direction: column;
    padding: 100px 0;
  }
  .contact_form {
    height: 500px;
  }
  .talk {
    display: flex;
    flex-direction: column;
  }
  .talk h1,
  .talk p {
    font-size: 25px;
  }
  input,
  textarea {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.7;
    border: 1px solid rosybrown;
  }
  ::placeholder {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #80013f;
  }
  .submit {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .contact {
    flex-direction: column;
    padding: 100px 0;
  }
  .contact_form {
    height: 550px;
  }
  .talk {
    display: flex;
    flex-direction: column;
  }
  .talk h1,
  .talk p {
    font-size: 30px;
  }
  input,
  textarea {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.7;
    border: 1px solid rosybrown;
  }
  ::placeholder {
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #80013f;
  }
  .submit {
    font-size: 18px;
    letter-spacing: 1px;
  }
}


