.video-container {
  width: 100%;
  height: 100vh;
  margin-bottom: 4rem;
  z-index: 1;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}
.video-description h1 {
  font-size: 3rem;
  font-family: Lobster, cursive;
  letter-spacing: 2px;
  font-weight: lighter;
  padding-bottom: 2rem;
}
.video-description p {
  font-size: 2em;
  font-weight: 600;
  font-family: "Source Serif Pro", serif;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  color: white;
  height: 100px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  margin-right: 60px;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color:white;
  font-weight: 600;
    font-family: "Source Serif Pro", serif;
    font-size: 20px;

  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #80013f;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.6rem;
  margin-bottom: 0.5rem;
  margin-left: 60px;
  font-family: Lobster;
  font-weight: 200;
}

.subscription-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .video-container {
    width: 100%;
    height: 50vh;
    margin-bottom: 2.5rem;
  }

  video {
    filter: brightness(90%);
  }
  .video-description {
    height: 50%;
  }
  .video-description h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .video-description p {
    font-size: 1rem;
  }
   .navbar {
    opacity: 0.85;
  
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 100px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 0px;
    left: 6px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background:white;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 60px;
    background: rosybrown;
    height: 34vh;
    max-width: 200px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 5px 0px #aaa;
    border-radius: 16px;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
  }

  .logo {
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 1.2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
  
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .video-container {
    width: 100%;
    height: 70vh;
    margin-bottom: 3rem;
  }

  video {
    filter: brightness(90%);
  }
  .video-description {
    height: 70%;
  }
  .video-description h1 {
    font-size: 2rem;
    letter-spacing: 1.5px;
  }
  .video-description p {
    font-size: 1.3rem;
  }

  .navbar {
    opacity: 0.85;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 100px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 0px;
    left: 6px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background:white;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 85px;
    background: rosybrown;
    height: 46vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 5px 0px #aaa;
    border-radius: 16px;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 1.8rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

}
