.subscription {
  width: 70%;
  height: 30vh;
  background-color: rosybrown;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.subscription h2 {
  font-size: 35px;
  font-family: "Source Serif Pro", serif;
}
.subscription p {
  font-size: 20px;
  letter-spacing: 0.5px;
  padding-top: 15px;
  font-family: Lobster, cursive;
}
.subscription form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscription button {
  color: white;
  width: 150px;
  font-size: 15px;
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.subscription input:focus {
  outline: none;
}


@media screen and (max-width: 600px) {
.subscription {
  height: 19vh;
  width: 80vw;
  
}

.subscription h2  {
  font-size: 16px;
}
.subscription p , .subscription ::placeholder{
  font-size: 12px;
}
.subscription input{
  height: 32px;
  width: 200px;
}
.subscription button {
  color: white;
  width: 50px;
  height: 30px;
  font-size: 11px;
}
}
@media screen and (min-width: 601px) and (max-width: 768px) {
    .favicon {
  height: 23px;
  width: 18px;
  margin: 3px;
}
footer p {
  
  font-size: 1.3rem;
  padding-bottom: 0.7rem;
}
}
@media screen and (min-width: 769px) and (max-width: 800px){
     .favicon {
  height: 30px;
  width: 20px;
  margin: 3px;
}
footer p {
  
  padding-bottom: 0.7rem;
}
}