@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Pacifico&family=Sansita+Swashed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
/*a:visited {
  color: #80013f;
}*/



footer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
}
.favicon {
  opacity: 0.6;
  height: 40px;
  width: 30px;
  margin: 5px;
}
footer p {
  text-align: center;
  font-family: "Lobster";
  font-size: 20px;
}
footer p:hover {
  color: #80013f;
  cursor: pointer;
}
.favicon:hover {
  opacity: 1;
  color: #80013f;
  cursor: pointer;
}


@media screen and (max-width: 600px) {
  .favicon {
  height: 20px;
  width: 15px;
  margin: 3px;
}
footer p {
  
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
}
@media screen and (min-width: 601px) and (max-width: 768px) {
    .favicon {
  height: 23px;
  width: 18px;
  margin: 3px;
}
footer p {
  
  font-size: 1.3rem;
  padding-bottom: 0.7rem;
}
}
@media screen and (min-width: 769px) and (max-width: 800px){
     .favicon {
  height: 30px;
  width: 20px;
  margin: 3px;
}
footer p {
  
  padding-bottom: 0.7rem;
}
}